<div class="body">
    <app-nav-bar-employer-lateral></app-nav-bar-employer-lateral>
    
    <div class="content">
        <app-nav-bar-employer-top></app-nav-bar-employer-top>
        
        <div class="content-bottom">
            <div class="content-bottom-left">
                <div class="title">
                    <h2>Bienvenido, nombre</h2>
                    <img src="../../../../assets/check.svg" alt="">
                </div>
                <div class="function">
                    <h4 class="title-1">Acciones rapidas</h4>
                    <div class="function-button">
                        <button >Publicar Empleo</button>
                        <button >Crear Cuenta</button>
                        <button >Ingresar</button>
                    </div>
                    
                </div>
                <div class="activities">
                    <div class="activities-left">
                        <h4 class="title-1">Mís Ultimos Avisos</h4>
                        <div class="activities-left-noticies">
                            <div class="top">
                                <p class="puesto">puesto</p>
                                <p class="fecha">creado el dd/mm/aaaa</p>
                            </div>
                            <div class="center">
                                <p class="area">Area del puesto</p>
                            </div>
                            <div class="bottom">
                                <p class="vistas"><img src="../../../../assets/eye.svg" alt="">N° de vistas</p>
                                <p class="postulados"><img src="../../../../assets/dobleuser.svg" alt="">N° de postulados</p>
                                <p class="estado">Estado</p>
                            </div>
                        </div>
                        <div class="activities-left-noticies">
                            <div class="top">
                                <p class="puesto">puesto</p>
                                <p class="fecha">creado el dd/mm/aaaa</p>
                            </div>
                            <div class="center">
                                <p class="area">Area del puesto</p>
                            </div>
                            <div class="bottom">
                                <p class="vistas"><img src="../../../../assets/eye.svg" alt="">N° de vistas</p>
                                <p class="postulados"><img src="../../../../assets/dobleuser.svg" alt="">N° de postulados</p>
                                <p class="estado">Estado</p>
                            </div>
                        </div>
                        <div class="activities-left-noticies">
                            <div class="top">
                                <p class="puesto">puesto</p>
                                <p class="fecha">creado el dd/mm/aaaa</p>
                            </div>
                            <div class="center">
                                <p class="area">Area del puesto</p>
                            </div>
                            <div class="bottom">
                                <p class="vistas"><img src="../../../../assets/eye.svg" alt="">N° de vistas</p>
                                <p class="postulados"><img src="../../../../assets/dobleuser.svg" alt="">N° de postulados</p>
                                <p class="estado">Estado</p>
                            </div>
                        </div>
                    </div>
                    <div class="activities-right">
                        <h4 class="title-1">Últimas postulaciones</h4>
                        <div class="activities-right-noticies">
                            <img src="../../../../assets/profile.svg" alt="" class="profile">
                            <div class="activities-right-center">
                                <div class="activities-right-center-top">
                                    <h6>Nombre apellido</h6>
                                </div>
                                <div class="activities-right-center-center">
                                    <img src="../../../../assets/maletin1.svg" alt="">
                                    <p>nombre de actividad laboral</p> 
                                </div>
                                <div class="activities-right-center-bottom">
                                    <img src="../../../../assets/ubicacion1.svg" alt="">
                                    <p>Ciudad, provincia </p>
                                </div>
                            </div>
                            <div class="activities-right-noticies-right">
                                <img src="../../../../assets/start.svg" alt="">
                                <p class="estado">Estado</p>
                            </div>
                        </div>
                        <div class="activities-right-noticies">
                            <img src="../../../../assets/profile.svg" alt="" class="profile">
                            <div class="activities-right-center">
                                <div class="activities-right-center-top">
                                    <h6>Nombre apellido</h6>
                                </div>
                                <div class="activities-right-center-center">
                                    <img src="../../../../assets/maletin1.svg" alt="">
                                    <p>nombre de actividad laboral</p> 
                                </div>
                                <div class="activities-right-center-bottom">
                                    <img src="../../../../assets/ubicacion1.svg" alt="">
                                    <p>Ciudad, provincia </p>
                                </div>
                            </div>
                            <div class="activities-right-noticies-right">
                                <img src="../../../../assets/start.svg" alt="">
                                <p class="estado">Estado</p>
                            </div>
                        </div>
                        <div class="activities-right-noticies">
                            <img src="../../../../assets/profile.svg" alt="" class="profile">
                            <div class="activities-right-center">
                                <div class="activities-right-center-top">
                                    <h6>Nombre apellido</h6>
                                </div>
                                <div class="activities-right-center-center">
                                    <img src="../../../../assets/maletin1.svg" alt="">
                                    <p>nombre de actividad laboral</p> 
                                </div>
                                <div class="activities-right-center-bottom">
                                    <img src="../../../../assets/ubicacion1.svg" alt="">
                                    <p>Ciudad, provincia </p>
                                </div>
                            </div>
                            <div class="activities-right-noticies-right">
                                <img src="../../../../assets/start.svg" alt="">
                                <p class="estado">Estado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-bottom-right">
                <div class="content-bottom-right-content">
                    <div class="title-bottom-right">
                        <h4 class="title-1">Mis estadisticas</h4>
                    </div>
                    <div class="img-content">
                        img1
                    </div>
                    <div class="img-content">
                        img2
                    </div>
                    <div class="img-content">
                        img-3
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

