.body{
    display: flex;
    width: 100%;
    height: 768px;
}

.content{
    width: 92%;
    height: 100%;
    background-color: rgb(212, 232, 250);
}



.content-bottom{
    display: flex;
    width: 100%;
    height: 75%;
    margin-top: 4%;
}
.content-bottom-left{
    width: 70%;

}

.title{
    height: 38px;
    width: 366px;
    display: flex;
    margin-left: 10%;
    
}
.title img{
    margin-left: 32px;
}
.title h2{
    
    width: 298px;
    height: 38px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    
}
.function{
    display: flex;
    width: 100%;
    height: 25%;
    flex-wrap: wrap;
    margin-left: 10%;
    align-items: center;
    
}
.function h4{
    width: 100%;
    
}
.function-button{
    width: 675px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.function-button button{
    width: 209px;
    height: 100%;
    border-radius: 25px;
    background-color: transparent;
}
.function-button button:hover{
    background-color: black;
    color: white;
}
.title-1{
    font-size: 1.3rem;
}
.activities{
    margin-left: 10%;
    display: flex;
    margin-top: 5%;
    height: 70%;
}
.activities-left{
    width: 375px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.activities-left-noticies{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-top: 8px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    justify-content: center;
    align-items: center;
    
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.center{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.activities-right{
    width: 375px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.activities-right-noticies{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
}
.activities-right-center-center{
    display: flex;
    align-items: center;
}
.activities-right-center-bottom{
    display: flex;
    text-align: center;
}
.activities-right-noticies-right{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.activities-right-center-center img{
    margin-right: 5px;
    margin-top: -15px;
}
.activities-right-center-bottom img{
    margin-right: 5px;
    margin-top: -15px;
}
.content-bottom-right{
    width: 25%;
    height: 100%;
    display: flex;
}
.content-bottom-right-content{
    height: 95%;
    width: 90%;
    margin-top: 30%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-bottom-right h4{
    margin-top: 30px;
}