<footer class="footer">
    <div class="footer-left">
        <div class="footer-list-left">
            
            <ul>
                <h4>Nosotros</h4>
                <li>Ayuda</li>
                <li>Segurida</li>
                <li>Condiciones Legales</li>
                <li>Politica de privacidad</li>
                
            </ul>
            <ul class="list-2">
                <li>Uso del servicio</li>
                <li>Politica de cookies</li>
                <li>Gestionar Cookies</li>
            </ul>
             
            
        </div>
        <div class="footer-list-right">
            <ul>
                <h4>Sobre Nosotros</h4>
                <li>Nuestra Mision</li>
                <li>Trabaja con nosotros</li>
                <li>Ofertas de empleo</li>
            </ul>
        </div>
        

    </div>
    <div class="footer-right">
        <h4>¡Siguenos!</h4>
        <div class="footer-icon">
            <a href="https://facebook.com/" target="_blank"><img id="item-footer" src="../../assets/facebook-f.svg" alt=""></a>
            <a href="https://instagram.com/" target="_blank"><img id="item-footer" src="../../assets/instagram.svg" alt=""></a>
            <a href="https://twitter.com/" target="_blank"><img id="item-footer" src="../../assets/twitter.svg" alt=""></a>
        </div>
      </div>
</footer>
