<nav class="nav">
    <div class="nav-logo">
        <a routerLink="/home" routerLinkActive="activo" class="activo"><img src="../../../../assets/logo.svg" alt=""></a>
    </div>
    <div class="nav-center">
    
        <div class="item"><a routerLink="/Dashboard-Employer" routerLinkActive="activo">Sobre Nosotros</a></div>
        <div class="item"><a href="#">Blog</a></div>
    </div>
    <div class="nav-right">
        <button (click)="openRegisterModal()">Publicar Empleo</button>
        <button (click)="openRegisterModal()">Crear Cuenta</button>
        <button (click)="openLoginModal()">Ingresar</button>
    </div>
</nav>
