<div class="nav-lateral">
    <div class="nav-lateral-content">
        <div class="item"><img src="../../../../assets/home.svg" alt=""><a routerLink="/Dashboard-Employer" routerLinkActive="activo">Inicio</a></div>
        <div class="item"><img src="../../../../assets/avisos.svg" alt=""><a routerLink="/notices" routerLinkActive="activo" href="#">Mis avisos</a></div>
        <div class="item"><img src="../../../../assets/postulados.svg" alt=""><a routerLink="/postulates" routerLinkActive="activo" href="#">Postulados</a></div>
        <div class="item"><img src="../../../../assets/lupa1.svg" alt=""><a routerLink="/search-employees" routerLinkActive="activo" href="#">Buscar trabajadores</a></div>
    </div>
</div>

