
<div class="registro-container">
    <h2>Crea tu cuenta</h2>
    <button (click)="toggleForm()" id="boton"><p>Regístrate con un correo electrónico</p></button>
    <div [@slideDown]="formState">
      
       <app-register-form *ngIf="formState === 'visible'" ></app-register-form>

    </div>
    <button ><img src="../../../../assets/google-icon.svg" alt=""><p>Iniciar con google</p></button>
    <button ><img src="../../../../assets/facebook.svg" alt=""><p>Iniciar con facebook</p></button>
</div>



