<div class="home-container">
    <app-nav-bar></app-nav-bar>
    <header class="header">
        <div class="header-bottom">
            <div class="header-bottom-left">
                <div class="header-bottom-contenido">
                    <h2>La oportunidad que buscabas</h2>

                    <p>Silver 40 te conecta con empresas que valoran tu experiencia.
                        Encuentra oportunidades de trabajo facilmente, nuestra base de datos
                        fue diseñada especialmente para ti.
                    </p>
                </div>
                <div class="header-bottom-search">
                    <app-search></app-search>
                </div>
                
            </div>
            <div class="header-bottom-right">
                <img src="../../../../assets/presentacion.svg" alt="">
            </div>
        </div>
    </header>
    
    <main>
        <section class="about">
            <div class="about-title">
                <h3>¿Por qué elegirnos?</h3>
            </div>
            
            <div class="about-images">
                <div class="about-container">
                    <img src="../../../../assets/edificios.svg" alt="">
                    <div class="container-about-text">
                        <h4>+ 2000 Empresas</h4>
                        <p>Confían en nuestra plataforma para contratar talento experimentado</p>
                    </div>
                </div>
                <div class="about-container">
                    <img src="../../../../assets/computador.svg" alt="">
                    <div class="container-about-text">
                        <h4>+ 1000 Trabajos</h4>
                        <p>Todas las semanas</p>
                    </div>
                </div>
                <div class="about-container">
                    <img src="../../../../assets/trabajador.svg" alt="">
                    <div class="container-about-text">
                        <h4>+ 5000 Talentos</h4>
                        <p>Disponibles en nuestra base de datos, listos para aportar su experiencia en tu empresa</p>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </section>
        <section class="user">
            <div class="user-left">
                <div class="user-left-container">
                    <div class="user-img">
                        <div class="user-img-content">
                            <img src="../../../../assets/like.svg" alt="">
                        </div>
                        <div class="user-img-content">
                            <img src="../../../../assets/maletin2.svg" alt="">
                        </div>
                        <div class="user-img-content">
                            <img src="../../../../assets/elemento.svg" alt="">
                        </div>
                        <div class="user-img-content">
                            <img src="../../../../assets/reloj.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="user-text-left">
                    <div class="title">
                        <h4>Donde las empresas valoran tu experiencia</h4>
                    </div>
                    <ol>
                        <li>Mejores oportunidades disponibles</li>
                        <li>En Silver 40 las empresas buscan personas experimentadas</li>
                        <li>Conexiones relevantes para tu carrera</li>
                        <li>Ahorro de tiempo en la búsqueda</li>

                    </ol>
                </div>
            </div>
            <div class="user-right">
                <div class="user-text-right">
                    <div class="title">
                        <h4>Donde encontrarás talento
                            comprometido y experimentado</h4>
                    </div>
                    <ol>
                        <li>Acceso a trabajadores con experiencia</li>
                        <li>Mejora en la coincidencia de habilidades</li>
                        <li>Proceso eficiente de comunicación</li>
                        <li>Garantía de confidencialidad </li>
                    </ol>
                </div>

                <div class="user-img-right">
                    <div class="user-img-content">
                        <img src="../../../../assets/like.svg" alt="">
                    </div>
                    <div class="user-img-content">
                        <img src="../../../../assets/maletin2.svg" alt="">
                    </div>
                    <div class="user-img-content">
                        <img src="../../../../assets/elemento.svg" alt="">
                    </div>
                    <div class="user-img-content">
                        <img src="../../../../assets/reloj.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>
