:host{
    display:flex;
    flex-direction: column;
    gap: 2px;
    margin: 2px 0;
    font-family: 'Poppins';
}

label{
    margin-bottom: 4px;
    text-transform: capitalize;
}

span{
    color: brown;
    font-size: 8pt;
}

input {
    appearance: none;
    background-color: none;
    border: 1px solid #7C797A;
    line-height: 0;
    font-size: 17px;
    width: auto;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #7C797A;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1
}

input:focus{
    outline: none;
}