<!--Formulario Login-->
<div class="ingreso-container">
    <h2>Te damos la bienvenida a silver 40</h2>
    <input type="email" placeholder="Escribe tu correo electrónico" [(ngModel)]="email" required>
    <input type="password" placeholder="Escribe tu contraseña" [(ngModel)]="password" required>
    <a href="">¿Olvidaste tu contraseña?</a>
    <button id="ingreso" (click)="ingresar()">Ingresar</button>
    <button id="redes" (click)="ingresar()">Iniciar con google</button>
    <button id="redes" (click)="ingresar()">Iniciar con facebook</button>
    <a href="">No tengo cuenta, quiero registrarme</a>
</div>
