

.contenedor{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 580px;
}
.modal-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
    text-align: center;
    height: 30px;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    
}
.modal-title{
        /* Inicia sesión */
    width: 100%;
    margin-top: 20px;
    /* Body 2 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    
    color: #000000;

}
.close{
    background-color: transparent;
    border: none !important ;
    transform: scale(2);
    color: black; 
}
.close img{
    height: 15px;
    width: 15px;
}
.modal-body{
    margin: 0;
}